<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="simplePost" class="com.YaminiBalaji.SocialMedia.SocialMedia.User.SimplePost " scope="singleton"></bean>
    <bean id="simplePostList" class="com.YaminiBalaji.SocialMedia.SocialMedia.User.SimplePostList" scope="prototype"></bean>


</beans>